

.center {
	text-align: center;
	position: relative;
	width: 100%;
	line-height: 2;
	font-size: 25pt;


}

body {
	background-color: salmon;
	text-align: center;
	border-width: 2;
	border-color: black;
	border-style: solid;
	border-radius: 10%;
	position: absolute;
	min-height: 85%;
	top: 7.5%;
	width: 50%;
	left: 25%;
}

}
