<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>Snack Track</title>
  </head>
  <body>
    <h1>Snack Track</h1>
    <form method="post" action="/result">
      Food
      <br><br>
      <input type="text" name="food" required>
      <br><br>
      Gender
      <br><br>
      <input type="text" name="gender" required>
      <br><br>
      Age
      <br><br>
      <input type="text" name="age" required>
      <br><br>
      Weight
      <br><br>
      <input type="text" name="weight" placeholder="lbs" required>
      <br><br>
      Height
      <br><br>
      <input type="text" name="height" placeholder="inches" required>
      <br><br>
      <button type="submit" value="Submit">Enter</button>
    </form>
  </body>
</html>
