<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Hammersmith+One" />
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>Snack Track</title>
  </head>
  <body background="../static/images/food.jpg">
    <h1>Snack Track</h1>
    <p>We help you work off the calories. Enter a food item.</p>
    <form method="post" action="/result">
      Food
      <br><br>
      <input type="text" name="food" required>
      <br><br>
      Sex
      <br><br>
      <input type="text" name="gender" required>
      <br><br>
      Age
      <br><br>
      <input type="text" name="age" required>
      <br><br>
      Weight
      <br><br>
      <input type="text" name="weight" placeholder="lbs" required>
      <br><br>
      Height
      <br><br>
      <input type="text" name="height" placeholder="inches" required>
      <br><br>
      <button type="submit" value="Submit">Enter</button>
    </form>
  </body>
</html>
